/* src/components/header/header.css */
.c-header {
	/* Component Variables */

	/* Component Variables */
	--_bg: var(--c-header-bg, var(--sys-bg-surface));
	--_border-color: var(--c-header-border-color, var(--sys-border-weak));
	--_font-family: var(--c-header-font-family, var(--sys-font-body));
	--_text-color: var(--c-header-text-color, var(--sys-text-main));
	--_padding-y: var(--c-header-padding-y, var(--ref-space-4));
	--_padding-x: var(--c-header-padding-x, var(--ref-space-5));

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--_padding-y) var(--_padding-x);

	/* Define as container for style queries */
	container-name: c-header;
	container-type: normal;
	font-family: var(--_font-family);
	font-size: 1rem; /* Reset reference */
	background-color: var(--_bg);
	border-bottom: 1px solid var(--_border-color);
}

.c-header__logo {
	display: flex;
	gap: var(--ref-space-2); /* 8px, close to 10px */
	align-items: center;
	font-size: 1.25rem; /* 20px */
	font-weight: 900;
	color: var(--_text-color);
}

.c-header__logo :where(svg) {
	display: inline-block;
	vertical-align: top;
}

.c-header__actions {
	display: flex;
	gap: var(--ref-space-2); /* 8px, close to 10px */
}
