<!-- src/components/l-grid/l-grid.html -->
<div class="l-grid" style="--min-item-width: 250px; --grid-gap: 1rem">
	<div style="background: #ddd; padding: 1rem; border-radius: 4px">Item 1</div>
	<div style="background: #ddd; padding: 1rem; border-radius: 4px">Item 2</div>
	<div style="background: #ddd; padding: 1rem; border-radius: 4px">Item 3</div>
	<div style="background: #ddd; padding: 1rem; border-radius: 4px">Item 4</div>
	<div style="background: #ddd; padding: 1rem; border-radius: 4px">Item 5</div>
	<div style="background: #ddd; padding: 1rem; border-radius: 4px">Item 6</div>
</div>
