/* src/components/header/header.css */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	font-family: 'Inter', sans-serif;
}

.header__logo {
	font-weight: 900;
	font-size: 20px;
	color: #333;
	display: flex;
	align-items: center;
	gap: 10px;
}

.header__logo svg {
	display: inline-block;
	vertical-align: top;
}

.header__actions {
	display: flex;
	gap: 10px;
}
