/* src/components/grail/grail.css */
.l-grail {
	--_gap: var(--l-grail-gap, var(--ref-space-5));

	display: grid;
	grid-template:
		'header' auto
		'main' auto
		'side' 1fr
		'footer' auto
		/ 1fr;
	gap: var(--_gap);
	inline-size: 100%;
	min-block-size: 100vh;
}

.l-grail__header {
	grid-area: header;
}

.l-grail__main {
	grid-area: main;
}

.l-grail__side {
	grid-area: side;
}

.l-grail__footer {
	grid-area: footer;
}

/* Desktop Layout */
@media (width >= 768px) {
	.l-grail {
		/* Columns: Main -- space -- Side */
		grid-template: 'header header header' auto '.      .      .' 60px 'main   .      side' 1fr '.      .      .' 80px 'footer footer footer' auto / 1fr 40px 300px;

		/* Rows: Header -- space -- Body -- space -- Footer */
		gap: 0; /* Reset gap as we use tracks for spacing */
	}
}
